body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color:  hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
;
}

.inter-font {
    font-family: 'Inter', sans-serif;
}

.profileimg {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profileimg img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}


h2{
    color: white;
    margin: 10px 0 5px;
    text-align: center;  
}

.location p{
    color: hsl(75, 94%, 57%);
    margin: 0 0 20px;
    font-size: 0.9rem;
    text-align: center;
}

.role p{
    color: rgb(255, 255, 255);
    font-size: .85rem;
    margin-bottom: 25px;
    text-align: center;
}

.socialmedia{
    display:grid;
    gap: 15px;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 51, 51);
    color: white;
    font-weight: 600;
    border-radius: 8px;
    
}

a:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
    transition: 0.3s ease-in-out;
    border: 2px solid hsl(75, 94%, 57%);
}

.container{
    border: 2px solid rgb(31, 31, 31);
    width: 360px;
    min-width: 270px;
    padding: 30px;
    text-align: center;
    background-color:  rgb(31, 31, 31);
    border-radius: 10px;
   
}

