body{
    margin: 0;
    padding:0;
    font-family:'Inter',sans-serif;
    background: linear-gradient(90deg,rgb(24, 0, 24),rgb(75, 0, 75));
}

.container{
    margin: 30px;
    display:flex;
    flex-direction: column;
    padding: 0px 5px;
    min-width:240px;
}

.ai-container{
    border: 2px solid gray;
    padding: 0px 30px;
    width: 320px;
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(127, 127, 127, 0.15);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 90px;
}


.hero{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    color: white;
    font-size: 1.7rem;
}

.hero-span {
    background: linear-gradient(90deg, #ff8a00 , #8e2de2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
}

.hero-content{
    margin: 30px 0px 5px 0px;
}

.sub-hero-content{
  margin-top: 0px;
  background: linear-gradient(90deg, rgb(75, 185, 75) , rgb(142, 45, 226));
  background: -webkit-linear-gradient(90deg, rgb(75, 185, 75) , rgb(142, 45, 226));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-clip: text;
   font-weight: 700;
}

.para{
    color: white;
    opacity: 0.8;
    font-size: 1.4rem;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}

.para span{
    color: #ff8a00;
    font-weight: 600;
}

.count{
    color: white;
    font-size: 1.7rem;
    display:flex;
    flex-direction: column;
    margin: 0px;
    justify-content:flex-start;
    align-items:baseline;
}

.number,.waitlist-content{
    margin-top: 0px;
}

.communication-container{
    color: white;
    font-size: 1.2rem;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whatsApp{

    border: 3px solid rgb(55, 158, 55);
    max-width: 590px;
    text-align: center;
    padding: 0px;
    font-weight: 200;
    border-radius: 35px;
    background-color: rgb(55, 158, 55);
}

.whatsApp:hover{
    background-color: white;
    border: 3px solid rgb(55, 158, 55);
    transition: 0.3s ease;
    color:rgb(55, 158, 55) ;
    cursor: pointer;
}

.Telegram{
    border: 3px solid rgb(30, 117, 151);
    max-width: 590px;
    text-align: center;
    padding: 0px;
    font-weight: 200;
    border-radius: 35px;
    background-color: rgb(30, 117, 151);
}

.Telegram:hover{
    background-color: white;
    border: 3px solid rgb(30, 117, 151);
    transition: all 0.3s ease-in-out;
    color:rgb(30, 117, 151) ;
    cursor: pointer;
}

.ai-container i{
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 10px;
    color: rgb(207, 207, 21);
}

.communication-container i{
    margin-right: 10px;
    font-size: 1.5rem;
    vertical-align: middle;
}


